
#page-1 {
  background-color: #229eee;
  @include background-image(linear-gradient(#229eee, #24658f));
  background: transparent url(../images/page1/tromsdalselva-sentrum.jpg) center center no-repeat;
  background-size: cover;

  div.hero {
    background: transparent url(../images/page1/net.png) center center no-repeat;
    margin:auto;

    .logo {
      width: 361px;
      height: 89px;
      margin: auto;
      @include at2x("page1/logo", 361px, 89px);
    }

    h3 {
      font-weight: 300;
      font-size: 1.9em;
      color: #fff;
      margin: 10px 0 0 0;
    }
  } // /div.hero

  .nextpage {

    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -45px;

    a {
      color: rgba(255,255,255, .8);
      font-weight: 200;
      font-size: 1.2em;
      text-transform: uppercase;
      display: inline-block;
      width: 89px;

      @include at2x("page1/continue", 89px, 45px);
      background-position: bottom center;
      background-repeat: no-repeat;
      height: 80px;
    }
  }
}
